body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    margin-top: 20px;
    color: #334443;
}
p {
    color: #34656D;
    margin-bottom: 20px;
}

table{
    width: 70%;
    height: 300px;
    margin: auto;
    border-collapse: collapse;
    color: #334443;
}
th, td {
    border: 1px solid #334443;
    height: 35px;
    text-align: center;
}